<div class="hero-unit">
	<h1>Welcome to Naveen's App!</h1>
	<p>Here you will fine the start of a new era for 
	<%= link_to "Sushoo!", "http://www.sushoo.com"%></p>
		
	<p> <%=link_to "Sign Up Now!", "#", :class => "btn"%></p>
</div>


